<!DOCTYPE html>
{%extends 'mobile/temp.html'%}
{%block body_block%}
<form method="post">
    {%csrf_token%}
           <table class="table table-borderless">
                   <tr>
                   <td style="font-weight:bold;"><h4>Customer_name</h4></td>
                   <td><input type="text" class="btn btn-outline-primary"></td>
               </tr>
                   <tr>
                   <td style="font-weight:bold;"><h4>Phone_no</h4></td>
                   <td><input type="text" class="btn btn-outline-primary"></td>
               </tr>

               <tr>
                   <td style="font-weight:bold;"><h4>Address</h4></td>
                   <td><input type="text" class="btn btn-outline-primary"></td>
               </tr>
                <tr>
                   <td></td>
                    <td><a href="{%url 'pay' %}" class="btn btn-primary">Payment</a></td>

               </tr>
           </table>

</form>
{%endblock%}