<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sucess</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
<div class="row">
    <div class="col-4"></div>
     <div class="col-4">
         <img src="https://img2.pngio.com/crate-hire-uk-order-confirmation-order-confirmation-png-1000_1000.png" height="80%" width="80%" style="margin-top:50px;">
     </div>
     <div class="col-4"></div>
</div>
</div>
</body>
</html>